#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container{
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none
}

.app-container::-webkit-scrollbar {
  display: none;
}

.first-fold, .second-fold {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-fold {
  gap: 17rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.SteamSearchMain {
  width: 22rem;
  height: auto;
}

.continuePrompt {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-self: center;

  padding-right: 1.75rem;

  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.0));
  cursor: pointer;
}

.enter {
  width: 1.75rem;
  height: auto;
}

.pressEnter {
  font-size: 1.5rem;
  color: white;
  font-weight: 0;
}

.continuePrompt:hover{
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));
}


